CompileFlags:
  Remove: [-mlongcalls, -fno-shrink-wrap, -fstrict-volatile-bitfields, -fno-tree-switch-conversion, -mfix-esp32-errata-prohibit-iramsafe-incsr, -mlong-calls]
  Add: [--target=xtensa-esp32-elf]
