# ESP-IDF specific
build/
sdkconfig.old
sdkconfig
managed_components/
dependencies.lock

# VS Code / IDE specific
.vscode/
.vscode/*.log
.vscode/ipch/
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.clangd/
.clangd

# Local / OS specific
.DS_Store
Thumbs.db
*.tmp
*.bak
*.swp

# Compiler generated
*.o
*.d
*.a
*.so
*.obj
*.exe
*.dll

# Binary outputs
*.bin
*.elf
*.map

# Agent and Review artifacts
AGENTES/
review/
.agents/rules/
